@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.homepage {
  background-image: url(./HTML&CSS/Photo/image.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}


.topButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: white;
  box-shadow: 3px 8px 16px 1px rgba(0,0,0,0.12);
}

.topButtons ul {
  display: flex;
  padding: 15px;
}

.topButtons ul li {
  list-style: none;
  padding-left: 75px;
  padding-right: 95px;
}

.topButtons ul li:last-child {
  border-right: none;
}

.topButtons ul li a {
  text-decoration: none;
  display: flex;
  color: white;
  position: relative;
  float: left;
  color: black;
  font-size:20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
  transition: all 0.3s ease;
}

.topButtons ul li a:after{
  content: "";
  width: 0;
  height: 1.3px;
  border-radius: 7px;
  position: absolute;
  bottom: -3px;
  right: 0;
  background-color: #202020;
  transition: all 0.3s ease;
  transform: rotate(-180deg);
}

.topButtons ul li a:hover:after{
  width: 100%;
}

.text {
  font-family: 'Merriweather', serif;
  color: white;
  text-align: center;
  font-size: 70px;
  padding: 50px 40px 70px 40px;
  width: 80%;
  transition: .3s;
}

text:hover {
background-color: #f7ac53;
color: black;
}

.continut {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1400px;
  width: 100%;
  background-color: white;
}

.continut1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  width: 100%;
  background-color: white;
}

.continut2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 2500px;
  width: 100%;
  background-color: white;
}

.lifestyle {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  height: 300px;
  padding-top: 100px;
}

.lifestyleDespre {
  flex-wrap: wrap;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 55%;
  height: 500px;
  padding-top: 100px;
}

.imgContainer{
  display: flex;
  width: 70%;
  height: 300px;
  justify-content: space-between;
}

.h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  padding: 10px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.img {
  display: flex;
  width: 30%;
}

.img2 {
  height: 300px;
}

.despre {
  display: flex;
  flex-direction: row;
  width:70% ;
  height: 300px;
}

.h11 {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 10px;
  padding: 70px;
  text-align: center;
}

.text1 {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.despreButton {
  width: 150px;
  border: none;
  height: 40px;
  background-color: white;
  border:1px solid #f7ac53;
  border-radius: 25px;
  transition: .4s;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  transition: .4s ;
}

a:hover {
 opacity: 0.7;
}
.despreButton:hover {
  background-color: #f7ac53;
  color: white;
}

.footer {
 width: 100%;
}

.contacte {
  width: 100%;
  height: 350px;
  box-shadow: 1px 7px 32px 14px rgba(0,0,0,0.47);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 80%;
  
}

.contactea {
   width: 30%;
   height: 100%;
}

.contactImput {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:white;
  color: black;
  height: 400px;
  width: 650px;
}

.topImput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 650px;
  height: 200px;  
}

.imput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70px;
  width: 295px;
}

.imputBottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70px;
  width: 90%;
}


.containerImputTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 325px;
}

.topText {
  display: flex;
  align-items: flex-end;
  height: 35px;
  width: 90%;
  color: #f7ac53;
  font-family: 'Open Sans', sans-serif;
  opacity: 1;
  font-size: 10px;
  transition: .3s;
  padding-left: 20px;
}

.bottomText {
  display: flex;
  height: 35px;
  width: 90%;
  border-bottom: 1px solid #474747;
  padding-left: 20px ;
}

.bottomTextImput {
  display: flex;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #474747;
  padding-left: 20px ;
}

.bottomText:focus{
  border-bottom:1px solid #f7ac53;
}

input {
  width: 100%;
  height: 100%;
  text-decoration: none;
  outline: none;
  border: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
}

.bottomImput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 650px;
  height: 50%;  
}

.containerImputBottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.btnContainerContact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 650px;
}

.btnContainer {
  display: flex;
  height: 45px;
  width: 150px;
}

.btnContact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 150px;
  color: white;
  background-color: #f7ac53;
  border: none;
  outline: none;
  transition: .4s;
}

.btnContact:hover  {
  background-color: transparent;
  border: 2px solid #f7ac53;
  color:#f7ac53;
}

.btnContact:hover .btnContactText {
  color:#f7ac53;
}

.btnContactText {
  color: #202020;
  font-weight: bold;
}